<footer th:fragment="footer" id="footer" class="container-fluid text-center text-md-left text-white" style="background-color: #5dc1b9;">
  <div class="row">
      <div class="col-md-6 mb-md-0 mb-3 mt-5">
        <small class="d-block mb-3 text-muted text-white">UNIVERSIDAD NACIONAL</small>
        <p><a href="mailto:rodrigodimare1996@gmail.com">www.unlam.edu.ar</a></p>
      </div>
      <div class="col-md-3 mb-md-0 mb-3 mt-5">
        <p><i class="fas fa-map-marker"></i> Florencio Varela 1903 (B1754JEC) </p>
        <p><i class="fas fa-map-marker"></i>  San Justo, Buenos Aires, Argentina </p>
      </div>
      <div class="col-md-3 mb-md-0 mb-3 mt-5">
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/rodrigo-dimare-6400ba175/"><i class="fab fa-linkedin fa-2x"></i></a></li>
          <li><a href="https://www.https://www.unlam.edu.ar/"><i class="fas fa-globe fa-2x"></i></a></li>
        </ul>
    </div>
  </div>
</footer>

