  <nav class="navbar navbar-light container" style="background-color: #5dc1b9;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="pos-f-t container" style="background-color: #5dc1b9;">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
      <br>
      <h4 class="text-white"> <a th:href="@{/}">Inicio</a></h4>
      <br>
      <h4 class="text-white"> <a th:href="@{/cursos}">Cursos</a></h4>
      <br>
      <h4 class="text-white"> <a th:href="@{/alumnos}">Alumnos</a></h4>
    </div>
  </div>
</div>