<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmentos/includes.html"></head>
<title> Home Universidad </title>
<body>
    <div th:insert="fragmentos/nav.html"></div>
    <div class="container">
        <br>
        <div class="container">
            <i class="fas fa-user-graduate fa-4x"></i>
            <p>
            <h4>Universidad Nacional </h4>
            COMIENZA EL CICLO LECTIVO 2021 EN MODALIDAD VIRTUAL.
            </p>
        </div>
        <div class="alert alert-info">
            <h3>CICLO LECTIVO 2021</h3>
            Comienza el ciclo lectivo 2021 en modalidad virtual.
            <br>
            <h4>PRIMER CUATRIMESTRE 2021</h4>
            Inicio de clases: 5 de abril de 2021

            Inicio de clases para ingresantes: 12 de abril de 2021

            Finalización de clases: 24 de julio de 2021
            <br>
            <h4>SEGUNDO CUATRIMESTRE 2021</h4>
            Inicio de clases: 23 de agosto de 2021

            Finalización de clases: 11 de diciembre de 2021

            Calendario Académico sujeto a modificaciones
        </div>
        <div class="alert alert-success">
            Evento Proximo: Solicitud de Excepcionalidad (a partir del 20/08/21 a las 10hs hasta el 23/08/21 a las 19hs) Fecha: 20-08-2021 Hora: 10:00
        </div>

        <div class="alert alert-success">
            <b>IMPORTANTE</b>
            <br>
            Los contenidos estarán disponibles a partir del lunes <b>05/04</b>.Las clases comenzarán el lunes <b>5/4</b>.

            Si usted no encuentra en MIEL la asignatura en la que se encuentra inscripto (verificación) enviar un mail a alumnos@unlam.edu.ar indicando DNI, nombre y apellido, asignatura y comprobante de inscripción.

            En caso de ser alumnos de:
            Escuela de Formación Continua enviar un mail a efcoficial@unlam.edu.ar
            Secretaría de Extensión Universitaria enviar un mail a apm@unlam.edu.ar
            Secretaría de Medios y Comunicación enviar un mail a formacionprofesional@unlam.edu.ar
        </div>

        <br>
        <div th:insert="fragmentos/footer.html :: footer"></div>
    </div>
</body>
</html>